body{
    margin: 0;
    padding: 0;
    background: linear-gradient(30deg, #351E29 25%, #061B2C 90%) fixed;
    color: #F5F3F5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #F5F3F5;
}

li{
    list-style: none;
}

#changeTextSize{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 999;
    background-color: #351E29;
    border-bottom-left-radius: 25px;
    box-shadow: 0 0 5px #77B4A0;
}

#changeTextSize #changeSizeOne{
    font-size: 24px;
}

#changeTextSize #changeSizeTwo{
    font-size: 30px;
}

#changeTextSize #changeSizeThree{
    font-size: 34px;
}

#changeTextSize a{
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    padding: 0 10px 0 15px;
}