#checkContent #checkResult .result{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 1em 0 0 0;
}

#checkContent #checkResult .result #resultHeader{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#checkContent #checkResult .result #resultHeader:hover{
    cursor: pointer;
}

#checkContent #checkResult .result #resultHeader #resultUserName{
    width: 80%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    float: left;
}

#checkContent #checkResult .result #resultHeader #resultAllFeatures{
    width: 20%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    float: left;
}

#checkContent #checkResult .result #resultContent{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#checkContent #checkResult .result #resultContent #resultSection{
    width: 50%;
    margin: 0;
    padding: 0 1em 0 0;
    overflow: hidden;
    box-sizing: border-box;
    display: none;
    float: left;
}

#checkContent #checkResult .result #resultContent #resultSection h4{
    margin: 1em 0 0.5em 0;
    border-bottom: 1px solid #000;
}

#checkContent #checkResult .result #resultContent #resultSection .resultLine{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    float: left;
}

#checkContent #checkResult .result #resultContent #resultSection .resultLine .resultText{
    width: 70%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    float: left;
}

#checkContent #checkResult .result #resultContent #resultSection .resultLine .resultValue{
    width: 30%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    float: left;
}